<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<security>
			<authentication>
				<anonymousAuthentication enabled="true" />
				<windowsAuthentication enabled="false" />
				<basicAuthentication enabled="false" />
			</authentication>
		</security>
		<handlers>
			<add name="aspNetCore" path="*" verb="*"
				 modules="AspNetCoreModuleV2"
				 resourceType="Unspecified" />
		</handlers>
		<aspNetCore processPath="dotnet"
					arguments=".\ApiNetCoreBak.dll"
					stdoutLogEnabled="false"
					stdoutLogFile=".\logs\stdout"
					hostingModel="inprocess" />
	</system.webServer>
</configuration>
